<configuration>

    <!-- Appender de consola -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- Solo mensaje: %msg%n
                 Si quieres nivel: %level - %msg%n -->
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <!-- Nivel root -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

    <!-- Ejemplo: habilitar DEBUG solo para tu paquete -->
    <logger name="org.nexus.gestion_tareas" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

</configuration>
